.intro {
    height: 100vh;
    background-color: #e7c5ee;
}

.greeting {
    width: 350px;
    border: 1px solid;
    background-color: rgba(230, 236, 235, 0.9);
}

.photo {
    width: 300px;
    height: 400px;
    border: 1px solid;
    background-color: rgba(230, 236, 235, 0.9);
}

@media (max-width: 818px) {
    .intro {
        height: 140vh;
        background-color: #e7c5ee;
    }
}