.skillContainerMobile {
    padding: 0 20px 50px 20px;
}

.skillBlockMobile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 130px;
    align-items: center;
    justify-content: center;
    z-index: 5;
    /*margin: 0 20px 50px 20px;*/
    transition: 1000ms;
    @apply
    rounded-2xl
    bg-background-white
}
.mobileActive {
    transform: rotate(-45deg);
    background-color: black;
    opacity: 1;
    z-index: 5;
}
.mobileLink {
    position: absolute;
    display: flex;
    transform: rotate(45deg);
    color: white;
    opacity: 0;
    font-size: 22px;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.linkActive {
    opacity: 0.9;
    transition-delay: 0.7s;
    z-index: 10;
}
