.main {
    position: absolute;
    right: -390px;
    bottom: 50px;
    transition: 1000ms;
    width: 300px;
    @apply
    alert
    alert-warning
    shadow-lg
    w-[250px]
}

.active {
    right: 0;
    transition: 1000ms;
}

