.projectBlock {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 540px;
    background-color: #FFF;
    margin-bottom: 50px;
    position: relative;
    @apply
    rounded-2xl
}
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    height: 90px;
}
.header {
    display: flex;
    justify-items: start;
    font-size: 14px;
    margin-top: 20px;
    color: #706d6d;
}
.technics {
    display: flex;
    justify-content: start;
    font-size: 14px;
    color: #706d6d;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: start;
}
@media (max-width: 450px){
    .projectBlock{
        width: 350px;
    }
    .projectContainer {
        width: 350px;
    }
}

