.jobOfferBlock {
    height: 40vh;
    border: 1px solid;
    background-color: antiquewhite;
}

.container {
    flex-direction: column;
    text-align: center;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #eaedef;
    flex-wrap: wrap;
}


@media (max-width: 600px) {
    .jobOfferBlock {
        height: 70vh;
        border: 1px solid;
        background-color: antiquewhite;
    }
}