.container {
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    height: 10%;
    background-color: #d9d3c8;
}
.header {
    width: 90%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px black solid;
}